* {
    margin: 0;
    padding:0;
    border: 0;
    outline: 0;
    font-family: monospace;
}
html, body { 
    width: 100%;
    height: 100%;
}


#movieInput {
    margin-top: 20px;
}

#movieInput label {
    margin-right: 10px;
}

#movieInput input {
    width: 200px;
    margin-right: 10px;
}

#movieInput button {
    cursor: pointer;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}